body {
 margin: 0;
  padding: 0;
  height: 100%;
}

header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#2d3a4a, #6fa5c1);
  padding: 10px;
  color: white;
}

.menu-icon, .profile-icon {
    font-size: 24px;
}

.user-info p {
    margin: 0;
    color: white;
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    background-color: #b2f2bb;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

button.btn {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
   background: linear-gradient(#2d3a4a, #6fa5c1);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
  background: linear-gradient(#2d3a4a, #6fa5c1);
    padding: 10px;
}

.footer-icon {
    font-size: 24px;
    color: white;
}
.contenedor-principal {
 display: flex;
  flex-direction: column;
  height: 100%;
  
}

main {
  flex: 0;
}


