<body>
  <div class="contenedor-principal">
    <header>
      <div class="menu-icon" routerLink="/menu">☰</div>
      <div class="user-info">
        <p><strong>Nombre:</strong> xxxxxx</p>
        <p><strong>ID:</strong> xxxxxx</p>
      </div>
      <div class="profile-icon">👤</div>
    </header>

    <main>
      <h1>FINANZAS</h1>
      <button class="btn">Semanal</button>
      <button class="btn">Mensual</button>
      <button class="btn">Anual</button>
    </main>

    <footer>
      <div class="footer-icon" routerLink="/horas">⏳</div>
      <div class="footer-icon" routerLink="/home">🏠</div>
      <div class="footer-icon" routerLink="/finanzas">💲</div>
    </footer>
  </div>
</body>
