body {
  background: #5fa2c7;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding-bottom: 80px; /* espacio para el footer fijo */
}

.profile-card {
  display: flex;
  align-items: center;
  margin: auto;
  background: #23405a;
  border-radius: 40px 40px 0px 0;
  padding: 10px 20px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 2px 8px #0001;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 18px;
  border: 3px solid #fff;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.profile-id,
.profile-role {
  font-size: 1rem;
  color: #ffffff;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #e2eaf2;
  border-radius: 20px;
  padding: 8px 16px;
  width: 90%;
  max-width: 420px;
  margin: 0 auto 18px auto;
  margin-top: 20px;
}

.search-icon {
  font-size: 1.2rem;
  margin-right: 8px;
  color: #23405a;
}

.search-bar input {
  border: none;
  background: transparent;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.generate-btn {
  display: block;
  margin : 24px auto;
  margin-top: 200px;
  background: #3e6084;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 14px 38px;
  cursor: pointer;
  box-shadow: 0 2px 8px #0002;
  transition: background 0.2s;
}



.timer-container {
  text-align: center;
  margin-top: 20px;
}

#timer {
  font-size: 1.2rem;
  font-weight: bold;
  color: #23405a;
}

.footer-bar {
  display: flex;
  bottom: 0;
  justify-content: center; /* Centra el botón */
  background-color: #23405a;
  padding: 8px 0;
  border-radius: 40px 40px 0 0;
  width: 100%;
  margin-top: 300px; /* Para que se superponga ligeramente al contenido */
}

.footer-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px; /* Tamaño grande para el icono */
  color: white;
  transition: color 0.3s ease;
}


