<div class="top-bar">
    <div class="menu-icon">&#9776;</div>
    <div class="user-info">
        <p>Nombre: xxxxxxxx</p>
        <p>ID: xxxxxxxx</p>
    </div>
    <div class="profile-icon">&#128100;</div>
</div>

<div class="back-button" routerLink="/home">&#9664;</div>
<div class="menu-title">Menú</div>

<button class="calendar-button">Calendario</button>
<button class="logout-button">Cerrar sesión</button>

<div class="bottom-bar">
    <div class="icon">&#128338;</div>
    <div class="icon">&#8962;</div>
    <div class="icon">&#36;</div>
</div>
