<body>
<div class="container">
    <header>
        <div class="menu-icon" routerLink="/menu">☰</div>
        <div class="user-icon">👤</div>
        <div class="user-info">
            <p>Nombre: xxxxxxxx</p>
            <p>ID: xxxxxxxx</p>
        </div>
    </header>
    <main>
        <div class="back-button" routerLink="/home">←</div>
        <h1>HORAS TRABAJADAS</h1>
        <ul class="hours-list">
            <li>Lunes <span>8</span></li>
            <li>Martes <span>8</span></li>
            <li>Miércoles <span>8</span></li>
            <li>Jueves <span>8</span></li>
            <li>Viernes <span>8</span></li>
        </ul>
        <div class="total-hours">
            <p>Horas Trabajadas</p>
            <p>40</p>
        </div>
    </main>
    <footer>
        <div class="footer-icon" routerLink="/horas">⏳</div>
        <div class="footer-icon" routerLink="/home">🏠</div>
        <div class="footer-icon" routerLink="/Finanzas">💰</div>
    </footer>
</div>
<body>
    