<div class="login-container">
  <div class="logo-section">
    <img src="/imagenes/logo.png" alt="logo" />
  </div>

  <button class="login-button" routerLink="/login">Iniciar Sesión</button>

  <button class="Register" routerLink="/registro">Registrarse</button>

  <div class="divider">otro método de acceso</div>

  <div>
    <a href="https://accounts.google.com/signin" target="_blank" rel="noopener noreferrer" aria-label="Iniciar sesión con Google">
      <button class="google-button">
        <img src="/imagenes/google Icon.png" alt="Google Icon" />
      </button>
    </a>
  </div>
</div>
