<!DOCTYPE html>
<html lang="es">
  <head>...</head>
  <body>
    

<div class="container">
  <header>
    <button class="menu-icon" routerLink="/menu">☰</button>
    <div class="user-info">
      <p>Nombre: xxxxxxxx</p>
      <p>ID: xxxxxxxx</p>
      <span class="user-icon">👤</span>
    </div>
  </header>

  <main>
    <button class="generate-btn" routerLink="/QR">Generar QR</button>
  </main>

  <main>
    <img src="/imagenes/qr.png" alt="QR">
  </main>

  <div class="timer-container">
  <h1 id="timer">{{ tiempoRestante }}</h1>
</div>
    

  <footer>
    <button class="footer-icon" routerLink="/horas">⏳</button>
    <button class="footer-icon">🏠</button>
    <button class="footer-icon" routerLink="/Finanzas">💲</button>
  </footer>
</div>

 </body>
</html>
