<!-- Escáner QR (oculto de momento) -->
<zxing-scanner *ngIf="false" (scanSuccess)="onCodeScanned($event)" class="qr-scanner"></zxing-scanner>

<!-- Contenedor principal -->
<div class="main-container">

  <!-- Tarjeta de perfil -->
  <div class="profile-card">
    <img class="profile-img" src="/imagenes/images.png" alt="Foto de perfil" />
    <div class="profile-info">
      <div class="profile-name">Alex Johnson</div>
      <div class="profile-id">ID: 123456</div>
      <div class="profile-role">Marketing Manager</div>
    </div>
  </div>

  <!-- Barra de búsqueda -->
  <div class="search-bar">
    <span class="search-icon">🔍</span>
    <input type="text" placeholder="Buscar..." [disabled]="busquedaDeshabilitada" (click)="habilitarBusqueda()" />
  </div>

  <!-- Botón para generar nuevo QR -->
  <button class="generate-btn" (click)="generarNuevoCodigo()">Generar Nuevo QR</button>

  <!-- Temporizador visual -->
  <div class="timer-wrapper" *ngIf="tiempoRestante > 0">
    <div class="timer-label">
      <i class="fas fa-clock"></i>
      Tiempo restante: <span>{{ formatoTiempo }}</span>
    </div>
    <div class="progress-bar">
      <div
        class="progress-fill"
        [ngClass]="{
          'halfway': porcentajeRestante <= 50,
          'low-time': porcentajeRestante <= 20
        }"
        [style.width.%]="porcentajeRestante">
      </div>
    </div>
  </div>

  <!-- Tiempo agotado -->
  <div class="timer-wrapper" *ngIf="tiempoRestante <= 0 && mostrarQR">
    <div class="timer-label">⛔ Tiempo agotado</div>
  </div>

   <!-- QR dinámico -->
  <div class="qr-container">
    <div class="qr-wrapper" *ngIf="tiempoRestante > 0; else codigoInvalido">
      <img class="qr-img" src="/imagenes/qr.png" alt="QR" />
    </div>

    <!-- Cuando el código está inválido -->
    <ng-template #codigoInvalido>
      <div class="qr-wrapper invalid">
       <img class="qr-img" src="/imagenes/qr.png" alt="QR inválido" />
        <div class="error-msg-overlay">⚠️ Código inválido</div>
      </div>
    </ng-template>
  </div>

</div>

<!-- Footer -->
<footer class="footer-bar">
  <button class="footer-icon" (click)="irAGenerar()">
    <span class="icon-back">&#8592;</span>
  </button>
</footer>