body, html {
  height: 100vh;
  width: 100vw;
  border-color: linear-gradient(to bottom, #004e6d, #89b4c4, #1f1f1f);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#134C61, #19627D, #7BA7B7, #000000);

}

.logo {
  width: 150px;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  
}

label {
  text-align: left;
  color: #fff;
  display: block;
  text-align: left;
  margin: 0.5rem 0 0.1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid #444;
  outline: none;
  margin-bottom: 1rem;
  background-color: #e8e8e8;
}

button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border: none;
  width: 250px;
  border-radius: 75px;
  background-color: #a2d7cd;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 25px;
  
}

button:hover {
  background-color: #89b4c4;
  

  
  

}
